<div class="d-flex justify-content-center align-items-center container mt-4">
  <div class="row text-light bg-dark w-50 rounded ">
    <div class="col-sm-10 offset-sm-1 pb-4">
      <h1 class="my-4 text-center">Log in</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>